<%- include('partials/header') %>
    <main>
        <ul>
            <% data.forEach(item => { %>
                <li><%= item.title %> - <%= item.description %></li>
                <button class="delete-btn" data-id="<%=item.id%>">Delete</button> <br><br>
            <% }) %>
        </ul>
    </main>
<%- include('partials/footer') %>



