<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of items</title>
    <%- include('header') %>
</head>
<body>
    <ul>
        <% data.forEach(item => { %>
            <li><%= item.title %> - <%= item.description %></li>
            <button class="delete-btn" data-id="<%=item.id%>">Delete</button> <br><br>
        <% }) %>
    </ul>


    <%- include('footer') %>
</body>
</html>