<%- include('partials/header') %>

    <!-- Main content -->
    <main id="main" class="site-main">
        <section class="section-worldmap">
            <h2>Countries I've Visited</h2>
            <p class="section-subtitle">Where Have You Traveled?</p>
            <div id="country-name-box"></div>

        </section>
        <%- include('partials/worldmap') %>
    </main>

<%- include('partials/footer') %>

<script async>
    const country_codes = "<%= countries %>".split(",");
    country_codes.forEach(code => {
        $(`#${code}`).css('fill', '<%= color %>');
    });
</script>